<div class="container h-100">
  <mat-card class="pt-3">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h2>Avander Feladat: Angular-MSSQL</h2>
      </div>
    </div>
    <div class="row">
      <button class="col" routerLink="avander/displayMeasurements" mat-raised-button color="primary">Táblázat</button>
      <button class="col" routerLink="avander/upload" mat-raised-button color="primary">Feltöltés</button>
    </div>
  </mat-card>
  <router-outlet></router-outlet>
</div>
